
#pageHeader
{
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #333333;
}

section
{
    float: top;
}

.nav
{
    text-align: center;
}
#aboutTitle
{
    color: #00ccff;
}

#navAbout
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #808080;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#navPortfolio
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #262626;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#navContact
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #808080;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#imageSection
{
    width: 300px;
    height: 300px;
    background-image: url(300x300placeholder.jpg);
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#aboutSection
{
    height: 300px;
    width: 73.5%;
    float: left;
    background-color: #808080;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

footer
{
    padding: 20px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #333333;
}

body
{
    background-image: url(polyGray.png);
}

#contactTitle
{
    color: #ccc;
}

#portfolioTitle
{
    color: #ccc;
}

#title
{
    color: #ccc;
}

.forms
{
    text-align: center;
}

.buttons
{
    text-align: center;
}

.navPane
{
    text-align: center;
}

.testButton
{
    background-image: url(placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}

.testSection
{
    text-align: center;
    width: 450px;
    height: 245px;
}
/* Borders set for helping positioning */
/* *
{
    border-style: solid;
    border-width: 2px;
    border-color: #00c4ff;
} */