*
{
    font-family: 'Marcellus SC', serif;
}


#pageHeader
{
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #333333;
    font-family: 'Marcellus SC', serif;
}

section
{
    float: top;
}

.nav
{
    text-align: center;
}
#aboutTitle
{
    color: #00ccff;
}

.navAbout
{
    float: left;
    padding: 10px;
    color:#00ccff;
    background-color: #808080;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

.navPortfolio
{
    float: left;
    padding: 10px;
    color: #00ccff;
    background-color: #262626;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

.navContact
{
    float: left;
    padding: 10px;
    color: #00ccff;
    background-color: #808080;
    width: 33.3333%;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#imageSection
{
    width: 300px;
    height: 300px;
    background-image: url(300x300placeholder.jpg);
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

#aboutSection
{
    height: 300px;
    width: 73.5%;
    float: left;
    background-color: #808080;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    opacity: 0.75;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
}

footer
{
    padding: 20px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #333333;
}

body
{
    background-image: url(polyGray.png);
}

#contactTitle
{
    color: #ccc;
}

#portfolioTitle
{
    color: #ccc;
}

#title
{
    color: #ccc;
}

.forms
{
    text-align: center;
}

.buttons
{
    text-align: center;
    float: center;
}

.navPane
{
    text-align: center;
}

.testButton
{
    background-image: url(placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
    opacity: 0.75;
}

.wrapper
{
    text-align: center;
}

.testSection
{
    display: inline-block;
    text-align: center;
    width: 450px;
    height: 245px;
    margin-top: 10px;
}

.textInput
{
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
    color: #00ccff;
    background-color: #808080;
    opacity: 0.75;
    padding: 2px;
}

.formButton
{
    border-style: solid;
    border-width: 1px;
    border-color: #00ccff;
    background-color: #808080;
    opacity: 0.75;
    padding: 2px;
    width: 55px;
}

.navButton
{
    transition: all 0.5s;
    cursor: pointer;
}

.navButton span
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.navButton span:after
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.navButton:hover span
{
    padding-right: 20px;
}

.navButton:hover span:after
{
    opacity: 1;
    right: 0;
}

.portfolioButton
{
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.portfolioButton:after
{
    content:"";
    background: #90ee90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after
{
    padding: 0;
    margin: 0 ;
    opacity: 1;
    transition: 0s;
}
/* Borders set for helping positioning */
/* *
{
    border-style: solid;
    border-width: 2px;
    border-color: #00c4ff;
} */