*
{
    box-sizing: border-box;
    text-align: center;
}

header
{
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #333333;
}

section
{
    float: top;
}

#firstSection
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #808080;
    width: 33.3333%;
}

#secondSection
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #262626;
    width: 33.3333%;
}

#thirdSection
{
    float: left;
    padding: 10px;
    color: white;
    background-color: #808080;
    width: 33.3333%;
}

#testBox
{
    width: 300px;
    height: 300px;
    background-color: blue;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#testBoxTwo
{
    height: 300px;
    width: 73.5%;
    float: left;
    background-color: green;
    margin-top: 10px;
    margin-left: 10px;
}

footer
{
    margin-top: 10px;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #333333;
}

body
{
    background-image: url(polyGray.png);
}

#background
{
    background-color: cyan;
}